@model X.PagedList.IPagedList<Domain.Entities.SystemConfiguration>
@using X.PagedList;
@using X.PagedList.Mvc.Core
<div class="tab-pane p-3 active preview" role="tabpanel" id="preview-1009">

    <a style="margin-bottom:5px" class="btn btn-ghost-success active" href="/SystemConFig/create">Thêm mới</a>
    <table class="table">
        <thead>
            <tr>
                <th>
                    <a href="@Url.Action("Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })" class="nav-link">
                        <svg class="nav-icon">
                            <use xlink:href="/assets/icons/sprites/free.svg#cil-sort-descending"></use>
                        </svg>
                        Key
                    </a>
                </th>
                <th>Config Value</th>
                <th>Description</th>
                <th>UpdateBy</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.ConfigKey</td>
                    <td>@item.ConfigValue</td>
                    <td>@item.Description</td>
                    <td>@item.UpdateBy</td>
                    <td>
                        <a class="btn btn-primary btn-sm" href="/SystemConFig/Edit/@item.Id">Sửa</a>
                        <button class="btn btn-danger btn-sm" onclick="Delete(@item.Id)">Xóa</button>
                        <form id="@item.Id" action="/SystemConFig/Delete" method="post" style="display:none;">
                            <input type="hidden" name="id" value="@item.Id" />
                        </form>
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <a class="nav-link" href="/Logging/ChangeLoggingLevel">
        <svg class="nav-icon">
            <use xlink:href="/assets/icons/sprites/free.svg#cil-assistive-listening-system"></use>
        </svg> LoggingConfiguration
    </a>
</div>
<nav aria-label="Page navigation">
    <ul class="pagination">
        @if (Model.PageCount > 1) // Kiểm tra nếu số trang lớn hơn 1
        {
            <li class="page-item @(Model.HasPreviousPage ? "" : "disabled")">
                <a class="page-link" href="@Url.Action("GetConfigurations", new { page = Model.PageNumber - 1, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter })">Previous</a>
            </li>
        }

        @for (int i = 1; i <= Model.PageCount; i++)
        {
            <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                <a class="page-link" href="@Url.Action("GetConfigurations", new { page = i, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter })">@i</a>
            </li>
        }

        @if (Model.PageCount > 1) // Kiểm tra nếu số trang lớn hơn 1
        {
            <li class="page-item @(Model.HasNextPage ? "" : "disabled")">
                <a class="page-link" href="@Url.Action("GetConfigurations", new { page = Model.PageNumber + 1, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter })">Next</a>
            </li>
        }
    </ul>
</nav>

<style>
    .nav-icon {
        width: 16px; /* Thay đổi kích thước theo nhu cầu */
        height: 16px; /* Thay đổi kích thước theo nhu cầu */
        vertical-align: middle; /* Căn giữa biểu tượng với văn bản */
        margin-right: 5px; /* Khoảng cách giữa biểu tượng và văn bản */
    }

</style>
<script>
    function Delete(id) {
        if (confirm("Bạn có chắc chắn muốn xóa không?")) {
            // Tìm phần tử form theo ID
            var form = document.getElementById(id);
            if (form) {
                // Nếu form tồn tại, thực hiện xóa
                form.submit();
            } else {
                console.error('Form not found for ID:', id);
            }
        }
    }
</script>